<table>
  <thead>
    <tr>
      <th>Articles</th>
      <th>Users</th>
      <th>Comments</th>
    </tr>
  </thead>

  <tbody>
   <td><button><%= link_to 'Articles', articles_path %></button> </td>
   <td><button><%= link_to 'Users', user_profiles_path %></button> </td>
   <td><button><%= link_to 'Comments', comments_path %></button> </td>
  </tbody>
</table>

